body {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  position: relative;
  align-content: center;
}

.weather {
  position: absolute;
  position: fixed;
  color: white;
  top: 20px;
  right: 20px;
  cursor: default;
}

.weather_temperature,
.weather_main {
  display: inline;
  margin-right: 65px;
}
